// colours
$black: #050505;
$almost-black: #1F1F1F;
$light-black: #2D2D2D;
$lightest-black: #3A3A3A;
$grey: #757575;
$light-grey: #E9E9E9;
$lightest-grey: #F4F4F4;
$purple: #A445ED;

// breakpoints
$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
